

.navbar{
  background-color: rgb(255, 0, 109);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1% solid wheat;
}

.footer{
  background-color: rgb(255, 0, 109);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1% solid wheat;
}
.container{
  text-align: center;
  width: 100%;
  min-height: 80vh;
  background-color: rgb(255, 0, 109);
  position: relative;
  
}
span{
  color: rgb(182, 36, 36);
} 

.total{
  position: absolute;
  top:10;
  left: 0;
  
  font-size: 24px;
  color: #fff;
}

.input-container{
   margin-top: 1px;
   /* width: 50%; */
   text-align: center;
  
}

input{
  padding: 5px;
  font-size:18px;
  width: 200px;
  border-radius: 5px;
  margin-top: 10px;
  
}
button{
  padding: 5px;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: brown;
  margin-left: 5px;
}
.todos-container-parent{
  color: #fff;
 
}
.todos-container-parent {
  width: 40%;
  margin: auto;

  

}

.todos-container-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  height: 50px;
  background-color: rgb(204, 90, 90);
  margin-left: 4px;
  border-radius: 5px;
}
.icon{
  font-size: 30px;
}
.todos-container-child-input{
  margin-left: 3%;
  margin-bottom: 2%;
}