.employee_card{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 200px;
    margin-bottom: 8px;
    
}
img{
    width: 200px;
    height: 200px;
    
}
.list_container{
display: grid;
grid-template-columns: auto auto auto auto;
}

.home{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 300px;
    height: 300px;
    margin: auto;
}
.user_details{
    margin: auto;
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 200px;
    
}