.header{
  border: 1px solid red;
  text-align: center;
  background-color: crimson;
}

.table {

  border: 1px solid red;
  margin: auto;
  width: 80%;
  background-color: bisque;
}

.addemploye {

  /* border: 5px solid rgb(145, 89, 89); */
  width: 40%;
  margin: auto;
  margin-bottom: 40px;
}

input {
  color: rgb(13, 12, 12);
  justify-content: space-around;
}


.preferred_branch {
  width: 100%;
  text-align: center;
}
.submit{
   width: 80%;
   background-color: crimson;
}

.name{
  border: 1px solid rgb(29, 25, 25);
  text-align: center;
  background-color: rgb(218, 193, 193);
}

.address{
  border: 1px solid rgb(29, 25, 25);
  text-align: center;
  background-color: rgb(218, 193, 193);
}

.salary{
  border: 1px solid rgb(29, 25, 25);
  text-align: center;
  background-color: rgb(218, 193, 193);
}
.age{
  border: 1px solid rgb(29, 25, 25);
  text-align: center;
  background-color: rgb(218, 193, 193);
}
.martial_state{
  border: 1px solid rgb(29, 25, 25);
  text-align: center;
  background-color: rgb(218, 193, 193);
}
.department{
  border: 1px solid rgb(29, 25, 25);
  text-align: center;
  background-color: rgb(218, 193, 193);
}